<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>비밀번호 찾기</title>
</head>
<body>
	<h1>비밀번호 찾기</h1>
	<form action="/api/password/request" method="post">
		<label for="email">이메일:</label>
		<input type="text" id="email" name="email" required><br>
		<button type="submit" class="findPassBtn">비밀번호 찾기</button>
	</form>
	
	<p><a href="/user/login">로그인으로 돌아가기</a></p>
	
	<div th:if="${error}" style="color:red;">
		<p th:text="${error}"></p>
	</div>
	<script src="/js/find-password.js"></script>
</body>
</html>