<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>비밀번호 찾기</title>
</head>
<link rel="stylesheet" href="/css/login.css">
<body>
<div class="login-container">
	<h1>비밀번호 찾기</h1>
	<form action="/api/password/reset" method="post">
		<label for="email">이메일:</label>
		<input type="text" id="email" name="email" required><br>
		<button type="submit" class="findPassBtn">비밀번호 찾기</button>
	</form>

	<div>
		<p class="reset-message" style="color: red"></p>
	</div>
	<p><a href="/user/login">로그인</a></p>
</div>

	

	

	<script src="/js/find-password.js"></script>
</body>
</html>