<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<link rel="stylesheet" href="/css/register.css">
<link href="https://fonts.cdnfonts.com/css/jetbrains-mono" rel="stylesheet">


<body>
	<div class="register-container" >
			<h2>회원가입</h2>
			<form action="/user/register" method="post" id="registerForm">
				<div>
					<input type="text" id="userId" class="input-error" name="userId" placeholder="아이디를 입력해주세요" th:value="${user != null ? user.userId : ''}">
				</div>

				<div>
					<input type="password" id="password" class="input-error" name="password" placeholder="비밀번호" th:value="${user != null ? user.password : ''}">
				</div>

				<div>
					<input type="password" id="confirmPassword" class="input-error" name="confirmPassword" placeholder="비밀번호 확인" th:value="${user != null ? user.confirmPassword : ''}">
				</div>

				<div>
					<input type="text" id="email" name="email" class="input-error" placeholder="(선택) 이메일주소 (비밀번호 찾기 등 본인 확인용) " th:value="${user != null ? user.email : ''}">
				</div>
				<div>
					<ul id="errorList" class="errorList" >

					</ul>
				</div>
				<div>
					<input type="text" id="name" name="name" class="input-error" placeholder="이름" th:value="${user != null ? user.name : ''}">
				</div>

				<div>
					<input type="text" id="birth" name="birth" class="input-error" maxlength="10"  placeholder="생년월일 8자리" th:value="${user != null ? user.birth : ''}">
				</div>

				<div>
					<ul class="gender-options" >
						<li class="gender-option">
							<input type="radio" id="gender1" name="gender" value="male" th:checked="${user?.gender == 'male'}">
							<label for="gender1" class="male">남자</label>
						</li>
						<li class="gender-option">
							<input type="radio" id="gender2" name="gender" value="female"   th:checked="${user?.gender == 'female'}">
							<label for="gender2" class="female">여자</label>
						</li>
					</ul>
				</div>

				<div>
					<input type="text" id="address" name="address" placeholder="주소" th:value="${user != null ? user.address : ''}">
					<button class="inline-button">주소 찾기</button>
				</div>
				<div>
					<input type="tel" id="phone" name="phone" class="input-error" placeholder="ex ) 010-1234-5678" th:value="${user != null ? user.phone : ''}">
					<button class="inline-button">인증 요청</button>
				</div>
				<div>
					<ul id="errorList2" class="errorList" >

					</ul>
				</div>
				<button type="submit">회원가입</button>
			</form>
			<div th:if="${error}" class="message" th:text="${error}" style="color:red;"></div>

	</div>
<script src="/js/register.js"> </script>
</body>
</html>