<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<link rel="stylesheet" href="/css/register.css">
<link href="https://fonts.cdnfonts.com/css/jetbrains-mono" rel="stylesheet">


<body>
<div class="login-container">
    <div>
        <h1>비밀번호 재설정</h1>
    </div>
    <form th:action="@{'/api/password/reset/' + ${token}}" method="post">
        <div>
            <label for="password">새로운 비밀번호를 입력하세요:</label>
            <input type="password" id="password" name="password" required>
        </div>

        <button type="submit">비밀번호 변경</button>
    </form>

</div>
</body>
</html>